/*--------------------------------*/
/* Custom Properties              */
/*--------------------------------*/

:root {
    /* Colors */
    --color-dark: 230 35% 7%;
    --color-light: 231 77% 90%;
    --color-white: 0 0% 100%;

    /* Font sizes */
    /* Using REM instead of px values for accessibility purposes */
    --font-size-900: 9.375rem;
    --font-size-800: 6.25rem;
    --font-size-700: 3.5rem;
    --font-size-600: 2rem;
    --font-size-500: 1.75rem;
    --font-size-400: 1.125rem;
    --font-size-300: 1rem;
    --font-size-200: 0.875rem;

    /* Font families */
    --font-family-serif: 'Bellefair', serif;
    --font-family-normal: 'Barlow', sans-serif;
    --font-family-condensed: 'Barlow Condensed', sans-serif;
}

/*--------------------------------*/
/* Accessibility                  */
/*--------------------------------*/

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*--------------------------------*/
/* Global Properties              */
/*--------------------------------*/

body {
    font-family: var(--font-family-normal);
    font-size: var(--font-size-400);
    color: hsl(var(--color-white));
    background-color: hsl(var(--color-dark));
}

/*--------------------------------*/
/* General Utility Classes        */
/*--------------------------------*/

/* General */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* Select all direct child elements of elements with the flow class except the first child */
.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
    outline: 1px solid red;
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    /* Add line */
    white-space: nowrap;
    border: 0;
}

.box {
    background: lightblue;
    padding: 3rem;
}

.number-title {
    font-family: var(--font-family-condensed);
    font-size: var(--font-size-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

.number-title span {
    margin-right: 0.5em;
    font-weight: 700;
    color: hsl(var(--color-white) / 0.25);
}

/* Background Colors */
.background-dark {
    background-color: hsl(var(--color-dark));
}

.background-accent {
    background-color: hsl(var(--color-light));
}

.background-white {
    background-color: hsl(var(--color-white));
}

/* Example background */
.background-example {
    background-color: hsl(var(--color-light) / 0.2);
}

/* Text Colors */
.text-dark {
    color: hsl(var(--color-dark));
}

.text-accent {
    color: hsl(var(--color-light));
}

.text-white {
    color: hsl(var(--color-white));
}

/*--------------------------------*/
/* Typography Utility Classes     */
/*--------------------------------*/

/* Font families */
.font-family-serif {
    font-family: var(--font-family-serif);
}

.font-family-normal {
    font-family: var(--font-family-normal);
}

.font-family-condensed {
    font-family: var(--font-family-condensed);
}

/* Letter spacing */
.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.uppercase {
    text-transform: uppercase;
}

.font-size-900 {
    font-size: var(--font-size-900);
}

.font-size-800 {
    font-size: var(--font-size-800);
}

.font-size-700 {
    font-size: var(--font-size-700);
}

.font-size-600 {
    font-size: var(--font-size-600);
}

.font-size-500 {
    font-size: var(--font-size-500);
}

.font-size-400 {
    font-size: var(--font-size-400);
}

.font-size-300 {
    font-size: var(--font-size-300);
}

.font-size-200 {
    font-size: var(--font-size-200);
}

.font-size-900,
.font-size-800,
.font-size-700,
.font-size-600 {
    line-height: 1.1;
}

.number-title {
    
}