/* ------------------------ */
/* Global CSS Reset         */
/* ------------------------ */

/* Reset box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
picture,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Reset body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* Reset images */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Reset forms */
/* By default, form elements don't inherit font properties. */
/* Every other element does inherit font properties. */
input,
button,
textarea,
select {
  font: inherit;
}

/* Reset animations */
/* Remove animations for users that have turned them off and increase accessability */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
